1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

                  a. (*) 
                -->Expression as it is mathematical operators.

                b.('hello')
                -->value as it is string

                c. (-87.8)
                -->value as it is float

                d. (-)
                -->Expression as it is mathematical operators.

                e. (/)
                 -->Expression as it is mathematical operators.
 
                f.  (+)
                -->Expression as it is mathematical operators.

                g.  (6)
                -->value as it is integer

-------

2. What is the difference between string and variable?

 variable-> data/value can be stored in temporary storage spaces called variable.

         string-> string is a data type which can be alphbet ("a") or sequence ("Johnny") or ("my name is Johnny Bit"). a string is usually words,
      so
      A variable is a store of information , and a string is a type of information which we stored in a variable

 Example-

In [5]:
Student="JOHNNY BIT"   ### student= variable  
type(Student)          ### "JOHNNY BIT" = value of student variable.

str

-------

3. Describe three different data.

       A.  Student_NAME="JOHNNY BIT" # string data type represent words

       B.  Student_roll_no= 20       # interger data type 

       C.  Exam_12th_qualified=True  # Boolean data type represent only two value True(1) or False(0)
     
         Exam_12th_qualified=False

       let's prove it with python

In [18]:
Student_NAME="JOHNNY BIT" ## sting datatype 
print(type(Student_NAME))

<class 'str'>

In [19]:
 Student_roll_no= 20           ## integer datatype
 print(type(Student_roll_no))

<class 'int'>

In [22]:
Exam_12th_qualified=True      ## boolean data type
print(Exam_12th_qualified)
print(type(Exam_12th_qualified))

True
<class 'bool'>

In [23]:
Exam_12th_Not_qualified=False
print(Exam_12th_Not_qualified)
print(type(Exam_12th_qualified))

False
<class 'bool'>

--------

4.   What is an expression made up of?What do all exprssions do?

IN_PYTHON:
         An expression is a combination of operators and operands that is interpreted to produce some other value.
         
         example--Arithmetic expressions

         +  -> Addition.
         -  -> Substraction.
         *  -> Multiplication.
         /  -> Division.

         let's check them in pyton.

In [24]:
x = 40
y = 20

Addition       =  x+y

Substraction   =  x-y

Multiplication =  x*y 

Division       =  x/y

print(Addition)
print(Substraction)
print(Multiplication)
print(Division)

60
20
800
2.0

----

5.This assignment statements, like spam = 10. What is the difference between an
expression and a statemet?

                   
   
     1.An expression evaluaes to a single value                                        
      
       1.A statement does not.
      
     2. An "expression" is a combination of values and functions      
      that are combined and interpreted by the compiler to create a new value.                   
      
       2. A statement which is just a standalone unit of                                                                                                    
    execution and doesn't return anything.

-----

6.After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [25]:
bacon = 22
bacon+1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' *3

In [36]:
a = 'spam'
b = 'spamspam'
a+b

'spamspamspam'

In [37]:
a*3

'spamspamspam'

-----

8. Why is eggs a valid variable name while 100 is invalid?


            no special carrecter(except "____" underscore) and first letter can't be a digit

In [45]:
eggs=100   # valid variable

eggs__eggs=200
eggs

100

In [39]:
100egs      #invalid variable

SyntaxError: invalid decimal literal (1432694007.py, line 1)

--------

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

           ->int()   = FOR integer(ex-4,5,6,7)

           ->float() = FOR floating point number(ex-3.14,5.67)

           ->str()   = FOR string(ex-"JOHNNY BIT")

In [52]:
JOHNNY = "50"

print("------> INTEGER <--------")
JIMMY=int(JOHNNY)
print("DATA TYPE OF JIMMY ISINTEGER ",JIMMY)
print(type(JIMMY))

print("-----> Floating_Point_Number <------")
JOHN=float(JIMMY)
print("DATA TYPE OF JOHN IS FLOATING POINT NUMBER",JOHN)
print(type(JIMMY))

print("------>STRING<--------")
JACK=str(JOHN)
print("DATA TYPE OF JACK IS STRING ",JACK)
print(type(JACK))

------> INTEGER <--------
DATA TYPE OF JIMMY ISINTEGER  50
<class 'int'>
-----> Floating_Point_Number <------
DATA TYPE OF JOHN IS FLOATING POINT NUMBER 50.0
<class 'int'>
------>STRING<--------
DATA TYPE OF JACK IS STRING  50.0
<class 'str'>

----

10. Why does this expression cause an error?    How can you fix it?
'I have eaten ' + 99 + ' burritos'?

                 
         IT CAUSES ERROR BECAUSE WE CAN'T CONCATINATE STRING WITH INTEGER.

      FIX-- IT CAN BE FIXED  ----
        TO ALL INTEGER DATA CONVERT INTO STRING

In [56]:
#### INTEGER DATA INTO STRING
z='I have eaten ' 
b=99 
c=' burritos'
z+str(b)+c

'I have eaten 99 burritos'

-----